h2 {
	text-align: center;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

main {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

nav {
	background-color: white;
	color: black;
}
